<div class="child-view">
    <img class="page-bg" src="assets/images/collab.png" />

    <section class="catalogue" *ngFor="let product of products">
        <div class="product-card">
            <!-- <img src="" alt=""> -->
            <div class="product-details">
                <h4>{{product.name}}</h4>
                <p>Price: {{product.price | currency:'USD':'symbol'}}</p>
                <p>Description: {{product.description}}</p>
                <button class="add-to-cart-button">Add to Cart</button>
            </div>
        </div>
    </section>
</div>