<div class="child-view">
    <img class="page-bg" src="assets/images/collab.png" />
    
    <div class="text p-3">
        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi corporis totam iure provident, aspernatur
            voluptas!</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, cumque cum repellendus autem minima nam
            dolore dignissimos quas ab illum mollitia temporibus eius iure animi consectetur dicta exercitationem molestias
            vero!</p>
    </div>
</div>
<div>
    
</div>